<html>
  <body>
    <title>My files</title>
    <h1>My files</h1>
    <main>
      <% @files.each do |file| %>
        <ul>
          <li><a href=<%= file %>><%= file %></a></li>
        </ul>
      <% end %>
    </main>
    <p>
      <% if params[:sort] == 'desc' %>
        <a href="/">Sort ascending</a>
      <% else %>
        <a href="/?sort=desc">Sort descending</a>  
      <% end %>
    </p>
  </body>
</html>
