<form action='/<%= @file %>' method='post'>
  <label for='content'>Edit content of <%= @file %>:</label>
  <div>
    <textarea id='content' name='content' rows='20' cols='80'>
<%= @content %>
    </textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>