<!doctype HTML>
  <head>
    <title>File-based CMS</title>
    <link rel="stylesheet" type='text/css' href='cms.css'>
  </head>
  <body>
    <% if session[:message] %>
      <p class='message'><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>